.reveal section .fig,
.reveal .slides section .column .fig {
  height: 150px;
  border: none;
  box-shadow: none;
}

.space-left {
  margin-left: 15px;
}

.center {
  display: block;
  margin: inherit auto;
}